#main {
		height:100%;
		width:50%;
		background-color:rgba(0,0,0,0.5);
		border-radius:6px;
		<--opacity:0.6;
		color:white;
		font-family:"Comic Sans MS";
		}
body {	
		background:url("bg.jpg");
		background-repeat:no-repeat;
		background-size:cover;
		}
#fb	{	position:absolute;
		left:570px;
		top:715px;
		height:30px;
		width:30px;
			
	}
#twitter	{
				position:absolute;
				left:610px;
				top:715px;
				height:30px;
				width:30px;
				
	}
	#instagram	{
				position:absolute;
				left:650px;
				top:715px;
				height:30px;
				width:30px;
				
	}
h1		{
	
		text-align:center;
		font-family:"Chiller";
		font-size:80px;
	}
h2	{
		text-align:center;
		width:100px;
	
	}
#me	{
		height:300px;
		width:300px;
		border-radius:10px;
		position:absolute;
		left:450px;
		top:120px;
}
.box	{
		border-radius:10px;
		height:200px;
		width:150px;
		background-color:rgba(192,192,192,0.5);
		position:absolute;
		padding:20px;
		}
#skills	{
		left:100px;
		top:160px;
		}
#hobbies {
	
	
		left:100px;
		top:450px;
		
}
#contact	{
		
	border-radius:10px;
		height:150px;
		width:350px;
		background-color:rgba(192,192,192,0.5);
		position:absolute;
		left:350px;
		top:500px;
		padding:20px;	
}
.bgtext{color:white;
		opacity:0.1;}
#adventurous	{
		font-size:70px;
		position:absolute;
		top:200px;
		transform:rotate(45deg);
	
}
#ambivert	{
		font-size:50px;
		position:absolute;
		top:400px;
		left:100px;
		transform:rotate(30deg);
	
}
#sarcastic	{
		font-size:70px;
		position:absolute;
		top:400px;
		left:300px;
		transform:rotate(-30deg);
	
}
#oppurtunist	{
		font-size:80px;
		position:absolute;
		top:5px;
		left:20px;
		transform:rotate(10deg);
	
}
#teamplayer	{
		font-size:90px;
		position:absolute;
		top:500px;
		left:150px;
		transform:rotate(-10deg);
	
}
